html,
body {
    font-family: "Manrope", sans-serif;
}
h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -1.92px;
}
h2 {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
}
h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 140%; /* 67.2px */
    letter-spacing: -1.44px;
}
h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.96px;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1312px;
    margin: 0 auto;
    height: 100%;
}
.burger {
    display: none;
}
.main__offer {
    background: var(--light-grey, #f2f2f2);
}
.main__quote {
    margin: 134px 0;
}
.main__information {
    padding: 48px 0px;
    background: var(--light-grey, #f2f2f2);
}
.main__blog {
    margin-bottom: 72px;
}
.main__companies {
    padding-bottom: 81px;
}
.main__testimonials {
    background: var(--light-grey, #f2f2f2);
    padding: 128px 0;
}
.main__questions {
    background: var(--steelgrey, #e2e6e9);
    padding: 128px 0;
}
.main__feedback {
    padding: 121px 0 178px 0;
}
.footer {
    color: #fff;
}
.footer__top {
    padding: 128px 0;
    background: var(--black, #1e1b1b);
    opacity: 0.98;
}
.footer__bottom {
    background: var(--black, #1e1b1b);
    padding: 65px 0;
}
.button {
    display: inline-flex;
    white-space: nowrap;
    color: #fff;
    font-size: 18px;
    line-height: 175%;
    align-items: flex-start;
    padding: 16px 40px;
    border-radius: 12px;
    background: var(--primary, #ff6433);
    transition: all 0.3s;
}
.button:hover {
    transform: scale(1.1);
}
.offer__heading {
    max-width: 858px;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
}
.blog__heading {
    margin: 131px 15px 47px 0px;
}
.heading__subtitle {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.72px;
}
/*----------------------------------------------------*/
.header__top {
    padding-bottom: 96px;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
}
.header__logo {
    transition: all 0.3s;
    margin: 0 5px;
}
.header__logo:hover {
    transform: scale(1.1);
}
.header__nav {
    margin-left: auto;
    margin-right: 64px;
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    margin-right: 40px;
}
.header__nav-item:first-child {
    margin-left: 15px;
}
.header__nav-item:last-child {
    margin-right: 0;
}
.header__nav-link {
    font-weight: 600;
    line-height: 28px;
    color: #1e1b1b;
    white-space: nowrap;
    transition: all 0.3s;
}
.header__nav-link:hover {
    text-shadow:
        rgb(0, 0, 0, 0.25) 0px 4px 4px,
        rgb(0, 0, 0, 0.25) 0px 4px 4px;
}
.header__assist {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}
.header__assist::before {
    content: "";
    position: absolute;
    left: -32px;
    top: 7px;
    width: 1px;
    height: 42px;
    opacity: 0.36;
    border: 1px solid #939191;
}
.header__assist-call {
    margin-right: 14px;
    transition: all 0.3s;
}
.header__assist-call:hover {
    transform: scale(1.1);
}
.header__phone-name {
    font-weight: 500;
    line-height: 24px;
    color: #1e1b1b;
    opacity: 0.7;
    white-space: nowrap;
    transition: all 0.3s;
}
.header__phone-name:hover {
    text-shadow:
        rgb(0, 0, 0, 0.25) 0px 4px 4px,
        rgb(0, 0, 0, 0.25) 0px 4px 4px;
}
.header__phone-number {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #1e1b1b;
    white-space: nowrap;
    transition: all 0.3s;
}
.header-phone-number:hover {
    text-shadow:
        rgb(0, 0, 0, 0.25) 0px 4px 4px,
        rgb(0, 0, 0, 0.25) 0px 4px 4px;
}
.header__body-inner {
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding-bottom: 135px;
}
.header__slogan {
    width: 630px;
    padding: 80px 51px 32px 15px;
}
.header__btn-box {
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.header__play {
    padding-left: 49px;
    display: flex;
    align-items: center;
}
.header__play-icon {
    transition: all 0.3s;
}
.header__play-icon:hover {
    transform: scale(1.1);
}
.header__play-text {
    padding-left: 8px;
    transition: all 0.3s;
    white-space: nowrap;
}
.header__play-text:hover {
    text-shadow:
        rgb(0, 0, 0, 0.25) 0px 4px 4px,
        rgb(0, 0, 0, 0.25) 0px 4px 4px;
}
.header__schedule {
    padding-top: 48px;
    display: flex;
    align-items: center;
}
.header__schedule-icon {
    padding-right: 13px;
}
.header__schedule-text {
    color: var(--grey, #939191);
    font-weight: 500;
    line-height: 24px;
}
.header__schedule-time {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
}
.header__visual {
    position: relative;
}
.header__visual-quick {
    display: flex;
    position: absolute;
    top: 80px;
    left: -30px;
    transition: all 0.3s;
}
.header__visual-quick:hover {
    transform: scale(1.1);
}
.elipse {
    display: inline-flex;
    height: 102px;
    white-space: nowrap;
    align-items: flex-start;
    border-radius: 59px;
    box-shadow: 0 0 0px 13px #dddbdb5a;
    background: linear-gradient(174deg, #fff 0%, #fff 100%);
}
.rateYo {
    width: 328px;
}
.header__quick__icon {
    display: inline-flex;
    color: #fff;
    align-items: flex-start;
    white-space: nowrap;
    width: 69.662px;
    height: 70px;
    border-radius: 70px;
    background: #5cba99;
    margin: 15px 0 17px 14px;
}
.header__quick-number {
    display: inline;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.72px;
    padding: 17px 0 17px 13px;
}
.header__quick-hr {
    display: inline;
    line-height: 28px;
    padding: 23px 9px 19px 3px;
}
.header__quick-text {
    display: inline;
    font-size: 24px;
    width: 184px;
    letter-spacing: -0.72px;
    margin: 38px 0 0 14px;
}
.header__visual-rating {
    position: absolute;
    top: 460px;
    left: 300px;
    transition: all 0.3s;
}
.header__visual-rating:hover {
    transform: scale(1.1);
}
.header__rating-info {
    margin: 24px 15px 0px 38px;
}
.header__rating-value {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.72px;
}
.header__rating-text {
    font-weight: 500;
    line-height: 24px;
    opacity: 0.699999988079071;
    padding-bottom: 24px;
}
.header__visual-stars {
    padding: 33px 32px 33px 0px;
}
/*=============offer===================*/
.offer__inner {
    padding: 128px 0;
}
.offer__topic {
    margin-bottom: 64px;
}
.offer__service-box {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 8px;
    color: var(--black, #1e1b1b);
    font-size: 24px;
    margin-bottom: 32px;
}
.offer__item {
    display: flex;
    flex-direction: column;
    width: 316px;
    height: 232px;
    text-align: center;
    justify-content: end;
    background: #fff;
    transition: all 0.5s;
}
.offer__item:hover {
    background: var(--primary, #ff6433);
    color: #fff;
}
.offer__item svg path {
    transition: all 0.5s;
}
.offer__item:hover svg path {
    fill: white;
}
.offer__icon {
    padding-top: 70px;
}
.offer__desc {
    margin: 16px 0 62px 0;
}
.offer__about {
    display: flex;
    justify-content: end;
    white-space: nowrap;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
}
.offer__about-text {
    width: 179px;
    font-size: 18px;
    line-height: 175%;
    margin: 0 16px 0 3px;
    transition: all 0.3s;
}
.offer__about-text:hover {
    text-shadow:
        rgb(0, 0, 0, 0.25) 0px 4px 4px,
        rgb(0, 0, 0, 0.25) 0px 4px 4px;
    transform: scale(1.05);
}
.offer__about-arrow {
    padding-top: 6px;
    transition: all 0.3s;
}
.offer__about-arrow:hover {
    transform: scale(1.1);
}
/*=============blog===================*/
.blog__filter-box {
    display: flex;
    margin-bottom: 46px;
}
.blog__filter-item {
    margin-right: 30px;
}
.blog__filter-btn {
    background-color: #fff;
    transition: all 0.2s;
}
.blog__filter-btn:hover {
    transform: scale(1.05);
    text-shadow:
        rgb(0, 0, 0, 0.25) 0px 4px 4px,
        rgb(0, 0, 0, 0.25) 0px 4px 4px;
}
.blog__filter-btn--active {
    color: #ff6433;
}
.blog__filter-item:last-child {
    margin-right: 0px;
}
.blog__list {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 32px;
}
.blog__list-link {
    display: block;
    transition: all 0.3s;
}
.blog__list-link:hover {
    box-shadow: 3px 3px 5px 0px #1e1b1b51;
    transform: scale(1.01);
}
.blog__image-box {
    margin-bottom: 24px;
}
.blog__image-box img {
    width: 100%;
    height: 100%;
}
.blog__time {
    margin-bottom: 16px;
}
.color-grey {
    color: var(--grey, #939191);
}
.blog__topic {
    margin-bottom: 16px;
}
.blog__info {
    margin-bottom: 64px;
}
.blog__info-text {
    color: var(--black, #232536);
    line-height: 28px;
}
/*=============quote===================*/
.quote__inner {
    display: flex;
}
.quote__process {
    margin-right: 131px;
}
.quote__process-topic {
    max-width: 524px;
    margin-bottom: 16px;
}
.quote__process-text {
    max-width: 437px;
    line-height: 28px;
    opacity: 0.6000000238418579;
    margin-bottom: 32px;
}
.quote__point {
    display: flex;
}
.quote__point-decor {
    margin-right: 24px;
    margin-bottom: 22px;
}
.quote__decor-circle {
    margin-bottom: 16px;
}
.quote__decor-line {
    text-align: center;
}
.quote__point-text {
    margin-top: 13px;
}
.quote__text-topic {
    margin-bottom: 8px;
}
.quote__text-info {
    font-size: 18px;
    max-width: 336px;
    line-height: 175%;
    opacity: 0.6000000238418579;
}
/*=============photo===================*/
.photo {
    background:
        url("../images/numbers1-img.jpg") -142px top no-repeat,
        url("../images/numbers2-img.jpg") right top no-repeat;
}
.photo__inner {
    margin: 0 50px;
}
.photo__content {
    width: 729px;
    height: 502px;
    justify-content: space-between;
    background-color: #ff6433;
}
.photo__content-box {
    padding: 128px 0 128px 80px;
}
.photo__content-text {
    max-width: 569px;
    color: #fff;
}
.photo__content-btn {
    padding-top: 48px;
}
.photo__button {
    background-color: #1e1b1b;
}
/*=============information===================*/
.information__inner {
    padding: 0 10px;
}
.information__list {
    display: flex;
    justify-content: space-between;
}
.information__list-item {
    padding-right: 20px;
    white-space: nowrap;
}
.information__list-item:last-child {
    padding-right: 0px;
}
.information__item-value {
    color: var(--secondary, #661ce7);
    font-size: 58px;
    font-weight: 800;
    line-height: 76px; /* 131.034% */
    letter-spacing: -1.74px;
    padding-bottom: 2px;
}
.information__item-text {
    font-size: 24px;
    line-height: 36px; /* 150% */
    letter-spacing: -0.72px;
    opacity: 0.699999988079071;
}
/*=============companies===================*/
.companies {
    background: #e2e6e9;
}
.companies__heading {
    padding: 128px 0 32px 0;
    text-align: center;
}
.companies__grid {
    display: grid;
    grid-template: repeat(2, auto) / repeat(5, 1fr);
    gap: 39px;
}
.companies__grid-link {
    display: block;
}
.companies__grid-link img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: all 1s;
}
.companies__grid-link:hover img {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.5s;
}
/*=============testimonials===================*/
.testimonials__heading {
    max-width: 909px;
    padding-bottom: 76px;
    text-align: center;
    margin: 0 auto;
}
.testimonials__slider-wrapper {
    position: relative;
}
.slick-list {
    margin: 0 -24px;
}
.testimonials__slider {
    margin-bottom: 47px;
}
.testimonials__slide {
    margin: 0 24px;
    padding: 72px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid rgba(172, 172, 172, 0.29);
}
.testimonials__user {
    display: flex;
    margin-bottom: 25px;
}
.testimonials__avatar {
    border-radius: 50%;
    overflow: hidden;
    align-self: center;
    justify-content: space-between;
    margin-right: 16px;
}
.testimonials__info-name {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.72px;
}
.testimonials__info-place {
    color: var(--grey, #939191);
}
.testimonials__quote {
    max-width: 472px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.72px;
}
.testimonials__box-arrows {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 134px;
    height: 62px;
    position: absolute;
    bottom: 0px;
    right: 0;
    right: 8px;
    padding-top: 16px;
}
.testimonials__arrow {
    padding-top: 15px;
    transition: all 0.3s;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
}
.testimonials__arrow path {
    transition: all 0.3s;
}
.testimonials__arrow:hover path {
    fill: #fff;
}
.testimonials__arrow:hover {
    transform: scale(1.3);
    background-color: #1e1b1b;
}
.testimonials__dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials__dots li {
    margin-right: 12px;
}
.testimonials__dots button {
    font-size: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}
.testimonials__dots button::before {
    content: "";
    width: 34px;
    height: 4px;
    background-color: #939191;
}
.testimonials__dots li:last-child {
    margin-right: 0;
}
.testimonials__dots .slick-active button::before {
    background-color: #ff6433;
    transition: all 0.5s;
}
/*=============questions===================*/
.questions__heading {
    padding-bottom: 86px;
    text-align: center;
}
.questions__accordeon-wrapper {
    max-width: 896px;
    margin: 0 auto;
}
.questions__accordeon-item {
    background: #fff;
    margin-bottom: 12px;
}
.questions__accordeon-item:last-child {
    margin-bottom: 0px;
}
.question__acc-head {
    display: flex;
    justify-content: space-between;
    padding: 38px 40px 32px 40px;
}
.question__acc-title {
    font-size: 24px;
    line-height: 36px; /* 150% */
    letter-spacing: -0.72px;
}
.accordeon__acc-content {
    width: 51px;
    height: 48px;
    justify-content: space-between;
    background-color: #ff6433;
    position: relative;
}
.accordeon__acc-content::before,
.accordeon__acc-content::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 17px;
    background-color: #fff;
    width: 17px;
    height: 2px;
    border-radius: 2px;
}
.accordeon__acc-content::after {
    transform: rotate(90deg);
    transition: all 0.3s;
}
.question__acc-link--active .accordeon__acc-content::after {
    transform: rotate(0deg);
}
.question__acc-text {
    max-width: 701px;
    color: var(--grey, #939191);
    font-size: 18px;
    font-weight: 500;
    line-height: 175%;
    padding: 0px 15px 38px 40px;
    margin-top: -16px;
}
/*=============feedback===================*/
.feedback__heading {
    max-width: 507px;
}
.feedback__info {
    display: flex;
    margin-top: 48px;
}
.feedback__form-full {
    display: flex;
    margin-right: 40px;
    flex-direction: column;
}
.feedback__form {
    display: flex;
    flex-direction: column;
}
.feedback__btn {
    margin-left: 20px;
}
.feedback__form-input {
    color: var(--black, #1e1b1b);
    line-height: 28px; /* 175% */
    border-radius: 2px;
    background: var(--light-grey, #f2f2f2);
    padding: 23px 5px 22px 40px;
    margin-bottom: 4px;
}
.feedback__form-select {
    line-height: 28px; /* 175% */
    border-radius: 2px;
    background: var(--light-grey, #f2f2f2);
    padding: 23px 5px 22px 40px;
    margin-bottom: 4px;
}
.feedback__form-textarea::-moz-placeholder {
    font-size: 13px;
}
.feedback__form-textarea {
    width: 624px;
    height: 72px;
    border-radius: 2px;
    background: var(--light-grey, #f2f2f2);
    padding: 23px 5px 22px 40px;
}
.feedback__contacts-row {
    padding-bottom: 32px;
}
.feedback__contacts-row:last-child {
    padding-bottom: 0;
}
.feedback__row-topic {
    opacity: 0.699999988079071;
    line-height: 28px; /* 175% */
}
.feedback__row-desc {
    font-size: 24px;
    line-height: 36px; /* 150% */
    letter-spacing: -0.72px;
}
.feedback__row-desc--tel {
    transition: all 1s;
}
.feedback__row-desc--tel:hover {
    transition: all 0.3s;
    color: #ff6433;
}
.feedback__row-desc--email {
    transition: all 1s;
}
.feedback__row-desc--email:hover {
    transition: all 0.3s;
    color: #ff6433;
}
.feedback__bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 48px;
}
.feedback__form-label {
    display: flex;
}
.feedback__form-checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.feedback__form-default {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.feedback__form-default:checked + .feedback__form-custom {
    background:
        url("../images/icons/check.svg") 50% 50% no-repeat,
        #ff6433;
    border: 1px solid #ff6433;
}
.feedback__form-custom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #1e1b1b;
    border-radius: 3px;
    cursor: pointer;
}
/*=============location===================*/
.location__image {
    background:
        url(../images/autoservice.jpg) 0 0 / 100%,
        no-repeat;
    width: 100%;
    height: 448px;
    margin-top: -168px;
    background-position: center;
    background-size: cover;
}
.ymaps-layers-pane {
    filter: grayscale(1);
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
}
/*=============footer__top===================*/
.footer__top-inner {
    display: flex;
}
.footer__socials {
    margin-right: 193px;
}
.footer__socials-text {
    width: 463px;
    margin-bottom: 64px;
}
.footer__socials-icons {
    display: flex;
}
.footer__icon {
    margin-right: 24px;
    transition: all 0.5s;
}
.footer__icon path {
    transition: all 1s;
}
.footer__icon:hover path {
    fill: grey;
    transition: all 0.3s;
}
.footer__icon:hover {
    transition: all 0.5s;
    transform: scale(1.2);
}
.footer__icon:last-child {
    margin-right: 0px;
}
.footer__contacts-row {
    margin-bottom: 32px;
}
.footer__contacts-row:last-child {
    margin-bottom: 0px;
}
.footer__row-topic {
    font-size: 18px;
    line-height: 175%; /* 31.5px */
    opacity: 0.6000000238418579;
    margin-bottom: 8px;
}
.footer__row-desc {
    font-size: 24px;
    line-height: 36px; /* 150% */
    letter-spacing: -0.72px;
}

.footer__row-desc--tel {
    transition: all 1s;
}
.footer__row-desc--tel:hover {
    transition: all 0.3s;
    color: rgb(198, 190, 190);
}
/*=============footer__bottom===================*/
.footer__bottom-inner {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    line-height: 28px; /* 175% */
}
.footer__logo {
    justify-content: space-between;
    margin-right: 40px;
    transition: all 1s;
}
.footer__logo:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
.footer__nav-list {
    display: flex;
}
.footer__nav-item {
    margin-right: 40px;
    transition: all 1s;
}
.footer__nav-item:hover {
    transition: all 0.3s;
    transform: scale(1.03);
    color: rgb(198, 190, 190);
}
.footer__copy {
    text-align: center;
    color: var(--grey, #939191);
}

/*=============media===================*/
/*=============media===================*/
/*=============1350===================*/
/*=============photo===================*/
@media (max-width: 1450px) {
    .photo {
        background:
            url("../images/numbers1-img.jpg") -700px top no-repeat,
            url("../images/numbers2-img.jpg") right top no-repeat;
    }
}
/*=============1350===================*/
/*=============header__body===================*/
@media (max-width: 1350px) {
    h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 140%; /* 67.2px */
        letter-spacing: -1.44px;
    }
    .header__slogan {
        width: 395px;
    }
    /*=============1350===================*/
    /*=============offer===================*/
    .offer__service-box {
        justify-items: center;
    }
    .offer__item {
        width: 100%;
        height: 100%;
    }
    .offer__inner {
        margin: 0 10px;
    }
    /*=============1350===================*/
    /*=============quote===================*/
    .quote__process {
        margin-left: 15px;
    }
    .quote__process {
        margin-right: 50px;
    }
    /*=============1350===================*/
    /*=============blog===================*/
    .blog__inner {
        margin: 0 15px;
    }
    .blog__topic-text {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.96px;
    }
    /*=============1350===================*/
    /*=============feedback===================*/
    .main__feedback {
        margin: 0 10px;
    }
    /*=============1350===================*/
    /*=============location===================*/
    .location__inner {
        margin: 0 10px;
    }
    /*=============1350===================*/
    /*=============footer__top===================*/
    .footer__top-inner {
        margin: 0 10px;
    }
    /*=============1350===================*/
    /*=============footer__bottom===================*/
    .footer__bottom-inner {
        margin: 0 10px;
    }
}
/*=============1100===================*/
/*=============header__body===================*/
.header__top {
    padding-bottom: 40px;
}
/*=============1100===================*/
/*=============header__body===================*/
@media (max-width: 1100px) {
    .header__visual-img {
        display: none;
    }
    .header__visual-quick {
        top: -160px;
        left: 30px;
    }
    .header__visual-rating {
        left: 30px;
        top: 150px;
        width: 282px;
    }
    .header__rating-info {
        margin: 17px 10px auto 15px;
    }
    /*=============1110===================*/
    /*=============quote===================*/
    .quote__inner {
        margin-right: 10px;
    }
    /*=============1110===================*/
    /*=============photo===================*/
    .photo__content-box {
        margin: 0 10px;
        padding-left: 30px;
    }
    .photo__content {
        width: 480px;
    }
    .photo__content-text {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.96px;
    }
    /*=============1100===================*/
    /*=============feedback===================*/
    .feedback__form {
        max-width: 300px;
    }
    .feedback__form-textarea {
        max-width: 300px;
    }
    .feedback__bottom-box {
        display: flex;
        flex-direction: column;
    }
    .feedback__btn {
        margin: 10px 0px;
    }
    .feedback__bottom-box {
        align-items: start;
    }
    .feedback__heading {
        max-width: none;
        text-align: center;
    }
    .feedback__info {
        justify-content: center;
    }
    .feedback__form-checkbox {
        min-width: 16px;
        min-height: 16px;
    }
    /*=============1100===================*/
    /*=============footer__top===================*/
    .footer__socials {
        margin-right: 50px;
    }
}
/*=============900===================*/
/*=============header__top===================*/
@media (max-width: 900px) {
    .header__phone {
        display: none;
    }
    /*=============900===================*/
    /*=============offer===================*/
    .offer__service-box {
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    }
    /*=============900===================*/
    /*=============photo===================*/
    .photo__content-box {
        padding-left: 0px;
    }
    .photo__content {
        width: 320px;
    }
    .photo__content-text {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.96px;
    }
    /*=============900===================*/
    /*=============information===================*/
    .main__information {
        padding: 20px 0px;
    }
    .information__item-value {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.96px;
    }
    .information__item-text {
        font-size: 16px;
    }
    /*=============900===================*/
    /*=============companies===================*/
    .companies__grid {
        grid-template: repeat(3, auto) / repeat(4, 1fr);
    }
    /*=============900===================*/
    /*=============testimonials===================*/
    .main__testimonials {
        padding: 64px 0;
    }
    .testimonials__heading {
        padding-bottom: 30px;
    }
    .testimonials__heading h2 {
        font-size: 48px;
        font-weight: 700;
        line-height: 140%; /* 67.2px */
        letter-spacing: -1.44px;
    }
    .testimonials__slide {
        margin: 0 12px;
        padding: 35px;
    }
    /*=============900===================*/
    /*=============questions===================*/
    .main__questions {
        padding: 60px 0;
    }
    .questions__heading {
        padding-bottom: 60px;
    }
    /*=============900===================*/
    /*=============feedback===================*/
    .main__feedback {
        padding: 60px 0 60px 0;
    }
    /*=============900===================*/
    /*=============footer__top===================*/
    .footer__top {
        padding: 64px 0;
    }
    .footer__socials {
        margin-right: 20px;
    }
    .footer__socials-text {
        width: 100%;
    }
    .footer__socials h3 {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.96px;
    }
    .footer__contacts-row {
        margin-bottom: 15px;
    }
    .footer__row-topic {
        font-size: 16px;
        line-height: 125%;
        opacity: 0.6000000238418579;
        margin-bottom: 0px;
    }
    .footer__row-desc {
        font-size: 18px;
        line-height: 36px;
        letter-spacing: -0.72px;
    }
    /*=============900===================*/
    /*=============footer__bottom===================*/
    .footer__bottom {
        padding: 30px 0;
    }
    .footer__nav-item {
        margin-right: 15px;
    }
    .footer__copy {
        font-size: 12px;
    }
}
/*=============750===================*/
/*=============header__top===================*/
@media (max-width: 750px) {
    .header__nav-item {
        margin-right: 10px;
    }
    /*=============750===================*/
    /*=============header__body===================*/
    .header__body-inner {
        flex-direction: column;
    }
    .header__visual {
        display: flex;
        position: static;
        flex-direction: column;
    }
    .header__visual-quick {
        position: static;
        margin: 35px auto;
    }
    .header__visual-rating {
        position: static;
    }
    /*=============750===================*/
    /*=============quote===================*/
    .main__quote {
        margin: 64px 0;
    }
    .quote__process-topic h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.96px;
    }
    /*=============750===================*/
    /*=============photo===================*/
    .photo {
        background: url("../images/numbers1-img.jpg") left top no-repeat;
    }
    /*=============750===================*/
    /*=============companies===================*/
    .companies__grid {
        grid-template: repeat(4, auto) / repeat(3, 1fr);
    }
    /*=============750===================*/
    /*=============blog===================*/
    .main__blog {
        margin-bottom: 35px;
    }
    .blog__heading {
        margin: 60px 15px 25px 0px;
    }
    .heading__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 140%; /* 67.2px */
        letter-spacing: -1.44px;
    }
    .blog__list {
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    }
    .blog__filter-item h4 {
        font-size: 28px;
    }
    .blog__topic-text {
        font-size: 28px;
    }
    /*=============750===================*/
    /*=============testimonials===================*/
    .testimonials__heading h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.96px;
    }
    .testimonials__user {
        display: flex;
        flex-direction: column;
    }
    .testimonials__avatar {
        margin: 0 0 5px 0;
        align-self: flex-start;
    }
    .testimonials__quote {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -1px;
    }
    /*=============750===================*/
    /*=============footer__bottom===================*/
    .footer__logo:hover {
        transform: scale(1.01);
    }
    .footer__bottom-inner {
        flex-direction: column;
    }
    .footer__nav {
        padding: 15px 0;
    }
    .footer__copy {
        text-align: start;
    }
}
/*=============600===================*/
/*=============header__top===================*/
@media (max-width: 600px) {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 50;
        background-color: rgba(0, 0, 0, 0.35);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
    }
    .overlay--show {
        visibility: visible;
        opacity: 1;
    }
    .burger {
        top: 20px;
        right: 15px;
        position: fixed;
        z-index: 150;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
    }
    .burger--follow {
        top: 20px;
        right: 15px;
        background-color: #fff;
        box-shadow: 3px 10px 25px #ffd5c8;
    }
    .burger span {
        display: block;
        width: 30px;
        height: 4px;
        border-radius: 3px;
        background-color: #1e1b1b;
        margin: 4px 0;
    }
    .burger::before,
    .burger::after {
        content: "";
        display: block;
        width: 30px;
        height: 4px;
        border-radius: 3px;
        background-color: #1e1b1b;
        transition: all 0.3s;
    }
    .burger--cross span {
        display: none;
    }
    .burger--cross::before {
        rotate: 45deg;
        transform: translateY(3px);
    }
    .burger--cross::after {
        rotate: -45deg;
        transform: translateY(-3px);
    }
    .header {
        padding-top: 40px;
    }
    .header__assist {
        display: none;
    }
    .header__top {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        background-color: #fff;
        z-index: 100;
        padding-bottom: 0;
        transform: translateX(100%);
        transition: all 0.3s;
    }
    .header__top--open {
        transform: translateX(0%);
    }
    .header__top-inner {
        flex-direction: column;
        height: 100%;
        padding: 80px 15px 40px;
    }
    .header__nav {
        text-align: center;
        margin-right: auto;
    }
    .header__nav-list {
        flex-direction: column;
    }
    .header__nav-item {
        margin-right: 0;
        padding: 20px 0;
    }
    .header__nav-item:first-child {
        margin-left: 0;
    }
    .header__assist {
        display: block;
    }
    .header__assist::before {
        display: none;
    }
    .header__assist-call {
        margin-right: 0px;
        text-align: center;
        padding-bottom: 10px;
    }
    .header__phone {
        display: block;
    }
    /*=============600===================*/
    /*=============offer===================*/
    .offer__service-box {
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
    }
    /*=============600===================*/
    /*=============quote===================*/
    .quote__inner {
        display: block;
    }
    .quote__process {
        margin-right: 15px;
        margin-bottom: 50px;
    }
    .quote__items {
        margin: 0 15px;
    }
    /*=============600===================*/
    /*=============photo===================*/
    .photo {
        background: url("../images/numbers1-img.jpg") -303px top no-repeat;
    }
    .photo__inner {
        margin: 0;
    }
    /*=============600===================*/
    /*=============information===================*/
    .information__list {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        gap: 5px;
    }
    /*=============600===================*/
    /*=============testimonials===================*/
    .testimonials__dots button {
        width: 20px;
    }
    .testimonials__box-arrows {
        justify-content: space-between;
        width: 111px;
    }
    /*=============600===================*/
    /*=============questions===================*/
    .questions__heading h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.96px;
    }
    .question__acc-title {
        font-size: 18px;
        line-height: 58px;
    }
    .question__acc-text {
        font-size: 14px;
    }
    .accordeon__acc-content {
        margin: 10px;
        width: 32px;
        height: 32px;
    }
    .accordeon__acc-content::before {
        left: 8px;
    }
    .accordeon__acc-content::after {
        left: 8px;
    }
    /*=============600===================*/
    /*=============feedback===================*/
    .heading__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.96px;
    }
    .feedback__row-desc {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }
    .feedback__contacts-row {
        padding-bottom: 20px;
    }
}
/*=============500===================*/
/*=============header__top===================*/
@media (max-width: 500px) {
    .header__top {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 100;
        padding-bottom: 0;
    }
    .header__top-inner {
        flex-direction: column;
        height: 100%;
        padding: 80px 15px 40px;
    }
    .header__nav {
        text-align: center;
        margin-right: auto;
    }
    .header__nav-list {
        flex-direction: column;
    }
    .header__nav-item {
        margin-right: 0;
        padding: 30px 0;
    }
    .header__nav-item:first-child {
        margin-left: 0;
    }
    .header__assist {
        display: block;
    }
    .header__assist::before {
        display: none;
    }
    .header__assist-call {
        margin-right: 0px;
        text-align: center;
        padding-bottom: 10px;
    }
    .header__phone {
        display: block;
    }
    /*=============500===================*/
    /*=============companies===================*/
    .main__companies {
        padding-bottom: 40px;
    }
    .companies__heading {
        padding: 64px 0 32px 0;
    }
    .companies__heading h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.96px;
    }
    .companies__grid {
        grid-template: repeat(5, auto) / repeat(2, 1fr);
        gap: 15px;
    }
    /*=============500===================*/
    /*=============blog===================*/
    .blog__list {
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
    }
    .blog__filter-item h4 {
        font-size: 22px;
    }
    /*=============500===================*/
    /*=============questions===================*/
    .question__acc-title {
        max-width: 150px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.96px;
    }
    /*=============500===================*/
    /*=============feedback===================*/
    .feedback__form {
        max-width: none;
        margin: 0 auto;
    }
    .feedback__form-textarea {
        max-width: none;
        width: 100%;
    }
    .feedback__info {
        flex-direction: column;
    }
    .feedback__bottom-box {
        margin-bottom: 20px;
    }
    .feedback__form-label {
        font-size: 12px;
    }
    .feedback__contacts {
        margin: 0 auto;
    }
    /*=============500===================*/
    /*=============location===================*/
    #map {
        max-height: 300px;
    }
    /*=============500===================*/
    /*=============footer__top===================*/
    .footer__top-inner {
        flex-direction: column;
    }
    .footer__socials {
        margin-bottom: 30px;
    }
    .footer__socials-text {
        margin-bottom: 30px;
    }
}
/*=============420===================*/
/*=============header__body===================*/
@media (max-width: 420px) {
    h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.96px;
    }
    .header__visual-quick {
        margin: 20px auto;
    }
    .elipse {
        display: inline-flex;
        height: 90px;
        white-space: nowrap;
        align-items: flex-start;
        border-radius: 59px;
        box-shadow: 0 0 0px 7px #dddbdb5a;
        background: linear-gradient(174deg, #fff 0%, #fff 100%);
    }
    .header__slogan {
        width: 310px;
        padding: 30px 15px 10px 15px;
        margin: 0 auto;
        text-align: center;
    }
    .header__btn-box {
        flex-direction: column;
        padding: 0 5px;
    }
    .header__button {
        margin-bottom: 15px;
    }
    .header__play {
        padding: 0px 15px;
    }
    .header__schedule {
        padding-top: 15px;
    }
    .header__quick__icon {
        margin: auto 0 auto 14px;
    }
    .header__quick-text {
        margin: 34px 0 0 14px;
    }
    .header__rating-info {
        margin: 13px 10px auto 15px;
    }
    .header__visual-stars {
        padding: 28px 32px 0px 0px;
    }
    /*=============420===================*/
    /*=============offer===================*/
    .offer__inner {
        padding: 64px 0;
    }
    .offer__topic {
        margin-bottom: 30px;
    }
    .offer__service-box {
        font-size: 16px;
        margin: 10px;
    }
    .offer__icon {
        padding-top: 30px;
    }
    .offer__desc {
        margin-bottom: 30px;
    }
    /*=============420===================*/
    /*=============quote===================*/
    .quote__text-topic h4 {
        font-size: 28px;
    }
    .quote__text-info {
        font-size: 12px;
    }
    /*=============420===================*/
    /*=============photo===================*/
    .photo {
        background: none;
    }
    .photo__content {
        width: 100%;
        height: 100%;
    }
    .photo__content-box {
        padding: 64px 0 64px 0;
    }
    /*=============420===================*/
    /*=============blog===================*/
    .blog__heading {
        margin: 30px 15px 15px 0px;
    }
    .blog__filter-box {
        margin-bottom: 20px;
    }
    .heading__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.96px;
    }
    .blog__filter-item {
        margin-right: 10px;
    }
    .blog__filter-item h4 {
        font-size: 18px;
    }
    .blog__topic-text {
        line-height: 42px;
        letter-spacing: -1.36px;
    }
    .blog__info {
        margin-bottom: 30px;
    }
    /*=============420===================*/
    /*=============testimonials===================*/
    .main__testimonials {
        padding: 30px 0;
    }
    .testimonials__box-arrows {
        display: none;
    }
    .testimonials__heading h2 {
        font-size: 28px;
    }
    /*=============420===================*/
    /*=============header__top===================*/
    .footer__nav-item {
        margin-right: 10px;
    }
    .footer__nav-link {
        font-size: 14px;
    }
}
/*=============320===================*/
/*=============quote===================*/
@media (max-width: 320px) {
    .quote__point-decor {
        display: none;
    }
    /*=============320===================*/
    /*=============information===================*/
    .information__item-text {
        white-space: normal;
        line-height: 24px;
    }
    /*=============320===================*/
    /*=============blog===================*/
    .blog__info-text {
        line-height: 22px;
    }
    /*=============320===================*/
    /*=============testimonials===================*/
    .testimonials__heading h2 {
        font-size: 22px;
        line-height: 40px;
    }
    .testimonials__slider {
        margin-bottom: 5px;
    }
    /*=============320===================*/
    /*=============questions===================*/
    .question__acc-title {
        max-width: 120px;
        font-size: 14px;
    }
    /*=============320===================*/
    /*=============header__top===================*/
    .footer__nav-list {
        flex-direction: column;
    }
}
/*=============280===================*/
/*=============header__body===================*/
@media (max-width: 280px) {
    h1 {
        font-size: 28px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.96px;
    }
    .header__slogan {
        width: 270px;
    }
    .header__schedule-icon {
        display: none;
    }
    .header__schedule-info {
        margin: 0 10px;
    }
    .header__schedule-time {
        font-size: 16px;
    }
    .header__visual-quick {
        width: 215px;
    }
    .header__quick__icon {
        display: none;
    }
    .header__quick-text {
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    .header__rating-info {
        display: none;
    }
    .header__visual-rating {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        padding: 0 5px;
    }
    .header__visual-stars {
        margin: 0 auto;
        padding: 0;
    }
    /*=============280===================*/
    /*=============offer===================*/
    .offer__icon {
        padding-top: 10px;
    }
    .offer__desc {
        margin-bottom: 10px;
    }
}
